/*settings*/
/*---------------------navigation-mixin--------------------*/
/*--End navigation mixin-----------------------------------*/
/*generic*/
/*resets and normalizers*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*elements*/
section {
  background-color: white; }

body {
  background-color: black; }

footer {
  padding: 2em 3em 5em 3em;
  background-color: black; }

/*--------------------navigation-----------------------*/
.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.dropdown__button {
  margin: .5em .5em;
  transition: .2s ease-in-out;
  border-radius: 5px;
  padding: .3em;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 6; }

.dropdown__button:hover {
  cursor: pointer; }

.dropdown {
  overflow: hidden; }

.dropdown__menu {
  transform: translateX(500px);
  right: 0;
  top: 0;
  position: fixed;
  height: 100vh;
  width: 320px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  transition: 0.6s cubic-bezier(0.43, 0.52, 0.22, 1);
  box-shadow: -8px 0 15px 10px rgba(60, 60, 60, 0.05); }
  .dropdown__menu li {
    flex: 1; }

.social-links {
  float: left;
  display: flex;
  flex-direction: row;
  width: 30%;
  color: white; }
  .social-links a {
    cursor: pointer;
    font-size: 2em;
    margin: 1em;
    color: white; }

.landing-container {
  width: 70%;
  padding: 10em 0 12em 0;
  margin: 0 auto 0 auto; }

.about {
  background-color: white;
  padding: 1em;
  overflow-x: hidden; }

.about__text-container {
  width: 50%;
  margin: 4em auto 5em auto; }

.about__social {
  width: 20%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between; }

.dropdown__container {
  position: absolute; }

.dropdown {
  width: 300px;
  margin: 0 auto; }

@media (max-width: 60em) {
  .about__text-container {
    width: 100%; }

  .landing-container {
    width: 100%; }

  .projects__container {
    width: 100%; }

  .dropdown__menu {
    transform: translateX(1000px);
    height: 100vh;
    width: 100vw; } }
.dropdown__button--triggered {
  padding: .3em .4em .3em 0em; }

.dropdown__menu--triggered {
  transform: none;
  transition: 0.5s cubic-bezier(0.43, 0.52, 0.22, 1); }

.modal-container {
  background-color: white;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none; }

.modal__img-container {
  width: 100%;
  display: flex;
  justify-content: center; }
  .modal__img-container img {
    border-radius: 5px;
    margin: 1em auto; }

.modal-nav {
  text-align: center;
  width: 100%;
  margin: 0em auto;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2em;
  align-items: center; }

.modal-nav svg:hover {
  background-color: black; }

.dropdown__button--top {
  background-color: black;
  margin: 5px;
  padding: 1px 0px 1px 18px;
  width: 18px;
  transition: 0.3s cubic-bezier(0.43, 0.52, 0.22, 1); }

.dropdown__button--mid {
  background-color: black;
  margin: 5px;
  padding: 1px 0px 1px 16px;
  width: 16px;
  transition: 0.3s cubic-bezier(0.43, 0.52, 0.22, 1); }

.dropdown__button--bottom {
  background-color: black;
  margin: 5px;
  padding: 1px 0px 1px 20px;
  width: 20px;
  transition: 0.3s cubic-bezier(0.43, 0.52, 0.22, 1); }

.top--triggered {
  background-color: black;
  margin: 5px;
  width: 6px;
  transform: rotate(405deg) translateX(6px);
  transition: 0.2s cubic-bezier(0.43, 0.52, 0.22, 1);
  background-color: black; }

.mid--triggered {
  display: none;
  transition: 0.2s cubic-bezier(0.43, 0.52, 0.22, 1);
  background-color: black; }

.bottom--triggered {
  background-color: black;
  margin: 5px;
  width: 5px;
  transform: rotate(-405deg) translateX(4px);
  transition: 0.2s cubic-bezier(0.43, 0.52, 0.22, 1);
  background-color: black; }

.menu__item {
  flex: 1;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .2s ease-in;
  z-index: 10;
  text-decoration: none;
  height: 100%;
  text-transform: uppercase; }

.menu__item:hover {
  color: white;
  background-color: black;
  cursor: pointer; }
  .menu__item:hover a {
    color: white; }

.menuItemHovWhite {
  background-color: white; }

.website-link {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  margin-top: .5em;
  font-weight: 100;
  letter-spacing: .2em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  float: right;
  color: white; }

.website-link:hover {
  cursor: pointer; }

.landing-container h1 {
  font-size: 4em;
  margin: 0em auto 0em auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #323232;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: .05em; }
.landing-container h3 {
  font-size: 2em;
  margin: 0em auto 0em auto;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #323232;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: .05em; }
.landing-container p {
  margin: auto;
  text-align: center;
  width: 80%;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 1.7em;
  letter-spacing: .05em; }
.landing-container span {
  font-weight: 400;
  letter-spacing: 0; }
.landing-container a {
  width: 300px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: block;
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  transition: .3s;
  margin: 4em auto 0 auto; }
.landing-container a:hover {
  background-color: black;
  color: white; }

.about__img {
  display: block;
  width: 0em;
  border-radius: 100%;
  padding: 9em;
  background-image: url("../img/profile.jpg");
  background-size: cover;
  margin: 5em auto 0em auto; }

.about__text-container h3 {
  margin: 0em auto 0em auto;
  font-size: 4em;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #323232;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: .05em; }
.about__text-container p {
  width: 80%;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 1.7em;
  letter-spacing: .05em;
  width: 90%;
  text-align: start;
  display: block;
  margin: 1em auto;
  font-size: 1em; }

.about__contact p {
  text-align: center; }

.about__social a {
  margin: 0em 0 1em 0;
  font-size: 2.5em;
  cursor: pointer; }

.x-container {
  display: block;
  margin: 2em auto;
  width: 100px;
  height: 1px; }

.x-container__1 {
  margin: -1px auto 0 -30px;
  display: block;
  background-color: #e6e6e6;
  height: 2px;
  width: 160px;
  transform: rotate(-6deg); }

.x-container__2 {
  margin: -1px auto 0 -30px;
  background-color: #e6e6e6;
  display: block;
  height: 2px;
  width: 160px;
  transform: rotate(6.5deg); }

.line {
  height: 1px;
  width: 70px;
  display: block;
  margin: 2em auto 2em auto;
  background-color: black; }

.projects {
  padding: 5em 0;
  background-color: white; }
  .projects h1 {
    margin: 1em auto 0em auto;
    font-size: 4em;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #323232;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: .05em; }
  .projects p {
    width: 80%;
    font-size: 1.3em;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    line-height: 1.7em;
    letter-spacing: .05em;
    font-size: 1em; }

.samples {
  padding: 2.5em 0; }

.projects__container h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  text-align: center;
  color: #323232;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: .05em;
  font-size: 2.5em;
  text-shadow: none;
  margin: 1.5em 1em 1em 1em; }
.projects__container p {
  margin: 0 auto;
  width: 80%;
  text-align: left; }

.top {
  margin: 0em auto 0 auto; }

.projects__button {
  width: 300px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: block;
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 3px;
  transition: .3s;
  margin: 4em auto 0 auto;
  cursor: pointer; }

.projects__button:hover {
  background: black;
  color: white; }

.dropdown-container {
  margin: 3em auto 0 auto;
  width: 300px; }

/*drop down items===================================================*/
.dropdown-item {
  border-radius: 3px;
  padding: 8px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  display: block;
  cursor: pointer;
  border: 1px solid black;
  transition: .3s;
  background-color: white;
  text-decoration: none;
  color: black; }

.dropdown-item:hover {
  transition: .3s;
  background: black;
  color: white; }

.dropdown-top {
  border-radius: 3px; }

.dropdown-middle {
  border-bottom: none;
  border-top: none;
  border-radius: 0;
  transition: .3s;
  display: none; }

.dropdown-bottom {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transition: .3s;
  display: none; }

.dropdown-container:hover .dropdown-middle {
  transition: .3s;
  display: block; }

.dropdown-container:hover .dropdown-bottom {
  transition: .3s;
  display: block; }

.dropdown-container:hover .dropdown-top {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.projects__dropdown-top {
  border-bottom: 1px solid black; }

/*==========================================================================
Modal
==========================================================================*/
.modal-exit {
  width: 18px;
  height: 18px;
  float: right;
  margin: 1em 1em 0 0;
  cursor: pointer; }

.modal-nav svg {
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer; }

.modal-description {
  width: 80%;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  line-height: 1.7em;
  letter-spacing: .05em;
  font-size: .5em;
  width: 900px;
  margin: 0 1.5em 0 1.5em; }

/*# sourceMappingURL=main.css.map */
