//======================================================
//GLOBAL------------------------------------------------
//======================================================

//--Drop Down Button----------------------------------------------
.dropdown__button--top {
    @include dropdown-button-line;
    padding:1px 0px 1px 18px;
    width: 18px;
    transition: .3s cubic-bezier(.43,.52,.22,1);
  }
  
  .dropdown__button--mid {
    @include dropdown-button-line;
    padding:1px 0px 1px 16px;
    width: 16px;
    transition: .3s cubic-bezier(.43,.52,.22,1);
  }
  
  .dropdown__button--bottom {
    @include dropdown-button-line;
    padding:1px 0px 1px 20px;
    width: 20px;
    transition: .3s cubic-bezier(.43,.52,.22,1);
  }
  
  //--Drop Down Button--animations--------------------------------------------

  .top--triggered {
    @include dropdown-button-line;
    width: 6px;
    transform: rotate(405deg) translateX(6px);
    transition: .2s cubic-bezier(.43,.52,.22,1);
    background-color: black;
  }
  
  .mid--triggered {
    display:none;
    transition: .2s cubic-bezier(.43,.52,.22,1);
    background-color: black;
  }
  
  .bottom--triggered {
    @include dropdown-button-line;
    width: 5px;
    transform: rotate(-405deg) translateX(4px);
    transition: .2s cubic-bezier(.43,.52,.22,1);
    background-color: black;
  }
  
//--end drop down -----------------------------------------------
  
//Menu-----------------------------------------------------------

.menu__item {
    flex: 1;
    font-family: $primary-font;
    background-color: white;
    color: black; 
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .2s ease-in;
    z-index: 10;
    text-decoration: none;
    height: 100%;
    text-transform: uppercase;
  }
  
.menu__item:hover {
    color: white;
    background-color: black;
    cursor:pointer;
    a {
      color: white;
    }
}

.menuItemHovWhite { 
    background-color:white;
}
//--End-Menu------------------------------------------------------

//-Footer---------------------------------------------------------

.website-link {
  text-decoration: none;
    font-family: $work-font;
    margin-top: .5em; 
    font-weight: 100;
    letter-spacing: .2em;
    color:rgba(255,255,255,.8); 
    text-align: center;
    float:right;
}

.website-link:hover { 
    cursor: pointer;
}

//End-Footer------------------------------------------------------

//======================================================
//END-GLOBAL------------------------------------------------
//======================================================

.landing-container {

  h1 { 
    font-size: 4em;
    margin: 0em auto 0em auto;
   @include heading;
  }

  h3 { 
    font-size: 2em;
    margin: 0em auto 0em auto;
   @include heading;
  }

  p { 
    margin: auto;
    text-align: center;
    @include body-text;
  }

  span { 
    font-weight: 400;
    letter-spacing: 0;
  }

  a { 
 @include button;
   }

   a:hover { 
     background-color: black;
     color: white;
   }
}


//=====================================================
//End HOME PAGE ---------------------------------------
//=====================================================

//=====================================================
//ABOUT PAGE ------------------------------------------
//=====================================================

.about__img { 
  display: block;
  width: 0em;
  border-radius: 100%;
  padding: 9em;
  background-image:url('../img/profile.jpg');
  background-size: cover;
  margin: 5em auto 0em auto;
}

.about__text-container { 
  
  h3 {
    margin: 1em auto 0em auto;
    font-size: 4em;
    @include heading;
  }
  p { 
    @include body-text;
    width: 90%;
    text-align: start;
    display: block; 
    margin: 1em auto;
    font-size: 1em;
  }
}

.about__contact { 
  p { 
    text-align: center;
  }
}
.about__social { 
  a { 
    margin: 0em 0 1em 0;
    font-size: 2.5em;
    cursor: pointer;
  }
}

.x-container { 
  display: block;
  margin: 2em auto;
  width: 100px;
  height: 1px;
  //background: black;

}
.x-container__1 { 
  margin: -1px auto 0 -30px;
  display: block;
  background-color: rgba(230,230,230,1);
  height: 2px;
  width: 160px;
  transform: rotate(-6deg);
}
.x-container__2 { 
  margin: -1px auto 0 -30px;
  background-color: rgba(230,230,230,1);
  display: block;
  height: 2px;
  width: 160px;
  transform:rotate(6.5deg);
}

.line { 
  height: 1px;
  width: 70px;
  display:block;
  margin: 2em auto 4em auto;
  background-color: black;
}

//=====================================================
//END ABOUT PAGE --------------------------------------
//=====================================================

//=====================================================
//PROJECTS PAGE --------------------------------------
//=====================================================

.projects { 
  padding: 5em 0;
  background-color: white;
  
  h1 {
   margin: 1em auto 0em auto;
  font-size: 4em;    
  @include heading;
  }
  p { 

    @include body-text;
    font-size: 1em;
  }
}

.samples { 
  padding: 2.5em 0;
}
.projects__container {
  h3 {
    @include heading;
    font-size: 2.5em;
    text-shadow: none;
    margin:1.5em 1em 1em 1em;
  }
  p {
    margin: 0 auto;
    width: 80%; 
    text-align: left;
  }
  a { 
    @include button;
    width: 300px;
    border-radius: 3px;
    margin: 3em auto 4em auto;
    cursor: pointer;
  } 
  a:hover { 
    background-color: black;
    color: white;
  }
}

.top { 
  //for top line in projects
  margin: 5em auto 0 auto;
}

//=====================================================
//END PROJECTS PAGE --------------------------------------
//=====================================================